/* https://coolors.co/5adbff-ffdd4a-fe9000-cc978e-0f1a20 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;400;700&display=fallback');

:root {
  --header-background: #0f1a20;
  --header-color: #ffffff;
  --header-height: 3.5rem;

  --nav-hover-background: #ffdd4a;
  --nav-hover-color: #000000;

  --contact-link-color: #ffffff;
  --contact-link-hover-color: #5adbff;

  --main-background: #ffffff;
  --main-padding: 1rem;

  --content-max-width: 900px;

  --link-color: #2176ff;
  --link-underline-color: #31393c;

  --call-to-action-background: #5adbff;
  --call-to-action-border: #03c8ff;
  --call-to-action-hover-background: #acedff;

  font-size: 20px;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #0f1a20;
}

h1,
h2 {
  margin: 0;
  font-weight: 100;
}

h1 {
  font-size: 3rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline var(--link-underline-color);
}

a.call-to-action {
  background: var(--call-to-action-background);
  color: #000000;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin: 0.5rem auto;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 3px solid var(--call-to-action-border);
  text-decoration: none;
  transition: all 250ms;
}

a.call-to-action:hover {
  background: var(--call-to-action-hover-background);
  border-bottom-color: var(--call-to-action-background);
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 500px) {
  a.call-to-action {
    width: auto;
  }
}
