/* https://coolors.co/5adbff-ffdd4a-fe9000-cc978e-0f1a20 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;400;700&display=fallback');

:root {
  --header-background: #0f1a20;
  --header-color: #ffffff;
  --header-height: 3.5rem;

  --nav-hover-background: #ffdd4a;
  --nav-hover-color: #000000;

  --contact-link-color: #ffffff;
  --contact-link-hover-color: #5adbff;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #0f1a20;
}

* {
  -webkit-tap-highlight-color: transparent;
}
